@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

.container{
  height: 400px;
  background-color: rgb(67, 219, 80);
  transform: skewY(10deg) translateY(-88px);
 
}

.form{
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  top: -300px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 1px rgba(100, 100, 100, .2);
  
}
.form h2{
  font-family: inherit;
  text-align: center;
  color: rgba(114, 118, 120, .8);
  padding-bottom: 20px;
  font-size: 1.1em;
  
}
input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  font-size: .8em;
  border: 1px solid rgba(100, 100, 100, .5);
  border: 0;
  margin-bottom: 12px;
  padding: 14px;
  border-radius: 4px;
  background-color: rgba(158, 154, 214, .1);
  outline-width: 1px;
  
}
input::placeholder{
  color : rgba(114, 118, 120, .5);
}
.form form p{
  font-size: .8em;
  color: gray;

}
.btn{
//  background-color: #9e9ad6;rgb(67, 219, 80)
background-color:rgb(67, 219, 80);
border: 0;
color: white;
padding: 10px 20px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
cursor: pointer;
font-weight: 700;
}

// #starBack{

//     // @import "../../../../node_modules/compass-sass-mixins/lib/compass/_functions.sass";
//     // n is number of stars required
//     @function multiple-box-shadow ($n) {
//       $value: '#{random(2000)}px #{random(2000)}px #FFF';
//       @for $i from 2 through $n{
//         $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
//       }
    
//       @return unquote($value);
//     }
    
//     $shadows-small:  multiple-box-shadow(700);
//     $shadows-medium: multiple-box-shadow(200);
//     $shadows-big:    multiple-box-shadow(100);
    
    
    
//     #stars
//     {  width: 1px;
//       height: 1px;
//       background: transparent;
//       border-radius: 50%;
//       box-shadow: $shadows-small;
//       animation            : animStar 250s linear infinite;
    
//       &:after{
//         content: " ";
//         position: absolute;
//         top: 100%;
//         width: 1px;
//         height: 1px;
//         border-radius: 50%;
//         opacity: 0;
//         background: transparent;
//         box-shadow: $shadows-small;
//       }
//     }
    
//     #stars2
//       {width: 2px;
//         height: 2px;
//         background: transparent;
//         border-radius: 50%;
//         box-shadow: $shadows-medium;
//         animation            : animStar 200s linear infinite;
    
//       &:after
//         {content: " ";
//           position: absolute;
//           top: 100%;
//           width: 2px;
//           height: 2px;
//           border-radius: 50%;
//           opacity: 0;
//           background: transparent;
//           box-shadow: $shadows-medium;}
//       }
    
//     #stars3
//       {width: 3px;
//         height: 3px;
//         background: transparent;
//         border-radius: 50%;
//         box-shadow: $shadows-big;
//         animation            : animStar 175s linear infinite;
    
//       &:after
//         {content: " ";
//           position: absolute;
//           top: 100%;
//           width: 3px;
//           height: 3px;
//           border-radius: 50%;
//           opacity: 0;
//           background: transparent;
//           box-shadow: $shadows-big;}}
    
//       @keyframes animStar
//       {
//           from  {transform: translateY(0px)}
//           to { transform: translateY(-2000px)}
//       }
//     }

//     .fullContainer {
//         width: 100%;
//         background: radial-gradient(ellipse at bottom, #372D6D 0%, #090A0F 100%);
//         background-repeat: repeat;
//         background-size: contain;
//         background-position: center;
//     }
