<!-- <p>signin works!</p>
 -->
<!-- ---------------1------------ -->
<!-- 
 <!DOCTYPE html>
<html lang="en">
<body>
    <div class="wrapper">
        <div class="sct brand"><h3>YOUR LOGO</h3></div>
        <div class="sct login">
            <form>
                <h3>Member Login</h3>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <div class="forgot-remember">
                        <label class="control control-checkbox">
                                Remember me
                                    <input type="checkbox" />
                                <div class="control_indicator"></div>
                            </label>
                    <div class="forgot">
                            <a href="#">Forgot Password?</a>
                    </div> 
                </div>
                <input type="submit" name="send" value="Send">
                <p class="text-center">Sign up with<br><i class="fa fa-hand-o-down" aria-hidden="true"></i></p>
                <div class="social-sign">
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </form>
       </div> end login
   </div> end wrapper 
</body>
</html> -->

<!-- ---------------1------------ -->

<!-- ---------------2------------ -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <main>
    
    <!-- Logo -->
    <img src="https://static.cumulusnetworks.com/static/images/shared/cumulus-networks-netq-gray-dark.svg" alt="Cumulus NetQ" id="logo-netq">
    
    <!-- Form -->
    <form action="">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="username">Password</label>
      <input type="password" name="password" id="password">
      <input type="submit" value="Log in">
    </form>
    
    <!-- Copyright -->
    <div class="copyright">
      &copy; <span id="current-year"></span> Cumulus Networks. <a href="https://cumulusnetworks.com/legal/" target="_blank">Terms of service</a>.
    </div>
    
  </main>
</body>
<!-- ---------------2------------ -->


<!-- -----------3------------------ -->
<!-- <div class="container">
  
</div>

<div class="form">
  <h2>Create Your Account</h2>
  <form action="">
    <div class="form-inner">
    <input type="text" placeholder="Fullname"/>
    <input type="email" placeholder="Email"/>
    <input type="password" placeholder="Password" />
    <p>By signing up You agree to our <a href="">Terms of Services</a> </p>
      </div>
    <input type="submit"  class="btn" />
  </form>
</div> -->

<!-- -----------3------------------ -->


<!-- -----------4------------------ -->
<!-- <div class="container">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/822789/profile/profile-512.jpg"><br>
    <div class="title">Welcome to SAM</div><br>
    <input id="input" placeholder="Email" class="email" type="email"><br>
    <input id="input" placeholder="Password" class="password" type="password"><br>
    <button href="#" class="button">Sign in</button><br>
    <input id="box1" class="checkbox" placeholder="Remember me" type="checkbox">
    <label for="box1">Remember me</label>
    <a class="forgot" href="">Forgot password?</a>
</div> -->

<!-- -----------4------------------ -->