<header>
    <app-nav></app-nav>
    <div class="tagline">
        
      <h1>Circle Initiative for <br/> Information Technology</h1>
      <p>The mission of CIRCLE is to reshape Pakistan by revolutionizing education, research, and business by adopting latest, cutting-edge technologies. Experts are calling this the 4th industrial revolution. We want Pakistan to become a global hub in the field of Information Technology.</p>
      <div>
          <a href="#" class="contact">Apply</a> 
          <a href="#" class="learn-more">Learn More</a> 
      </div>
     
    </div>
   
    <img src="/assets/app-development.png" />
   <div class="overlay"></div>
  </header>
  