<header>
    <!-- <app-nav> -->

        <nav>
            <ul>
              <li><a href="#">DesignTools</a></li>
            </ul>
            <ul class="medium-nav">
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">About DesignTools</a></li>
                <li><a href="#">Get Started</a></li>
             
              </ul>
           <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
           </ul>
          </nav>


    <!-- </app-nav> -->
    <div class="tagline">
        
      <h1>Create Your Own <br/>  Website in Minutes</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolorum esse, aut, suscipit ratione at aspernatur fugiat, non voluptatem nulla sit natus nobis architecto. Ratione ad deleniti totam accusamus pariatur?</p>
      <div>
          <a href="#" class="contact">Free Trial</a> 
          <a href="#" class="learn-more">Learn More</a> 
      </div>
     
    </div>
   
    <img src="/assets/app-development.png" />
   <div class="overlay"></div>
  </header>
  

<!-- main -->
<main>
    <div class="intro">
      <h3>Show the world what you can do.</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.
        </p>
    </div>
  
    <div class="multi-section">
      <img src="/assets/responsive.png" />
      <div>
        <h3>Full Responsive Breaks.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
      </div>
    </div>
  
    <div class="multi-section-two">
        <img class="a" src="/assets/programming.png" />
        <div class="b">
          <h3>Clean Code Output</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
        </div>
    </div>
  
    <div>
      <h3>Ready To Build Your Own Website?</h3>
      <p>Now is the time to give your business a professional website</p>
      <a href="#" class="contact">Free Trial </a> 
    </div> 
  </main>

<!-- main -->


<!-- footer -->

<footer>
    <ul>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Log in</a></li>
    </ul>
    <ul>
      
        <li><a href="#">DesignTools</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Support</a></li>
    </ul>
    <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Get Started</a></li>
     
    </ul>
    <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>

</footer>

<!-- footer -->
<p>landing works!</p>
