<!-- <p>registration-form works!</p> -->
<!-- <div id="starBack" class="fullContainer"> -->
<div class="container">
  
    </div>
    
    <div class="form">
      <h2>Registration Form</h2>
      <form action="">
        <div class="form-inner">
        <input type="text" placeholder="Name of Student"/>
        <input type="email" placeholder="Email"/>
        <input type="text" placeholder="Father's Name"/>
        <input type="text" placeholder="Occupation Father"/>
        <input type="text" placeholder="Residential Address"/>
        <input type="text" placeholder="contact no"/>
        <input type="text" placeholder="Nationality"/>
        <input type="text" placeholder="Religion"/>






        <p>By signing up You agree to our <a href="">Terms of Services</a> </p>
          </div>
        <input class="btn" (click)="submitForm()"/>
      </form>
    </div>
<!-- </div> -->